<section class="relative flex h-[650px] flex-col items-center justify-center overflow-hidden rounded-b-[60px] mx-4 mb-12">
  <img ngSrc="assets/images/hero-bg.png" alt="" fill priority class="pointer-events-none absolute inset-0 object-cover">

  <div class="pointer-events-none absolute inset-0 bg-[E9E9FF]"></div>

  <!-- Floating Images -->
  <div class="pointer-events-none absolute inset-x-0 top-50 hidden lg:block">
    @for (group of carouselGroups; track $index; let index = $index) {
    <div class="absolute inset-x-0 bottom-0 transition-all duration-700 ease-out" [class.opacity-100]="activeGroupIndex() === index" [class.opacity-0]="activeGroupIndex() !== index">
      <div [class]="activeGroupIndex() === index
              ? 'absolute bottom-0 left-20 h-36 w-36 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-0 rotate-[5deg]'
              : 'absolute bottom-0 left-25 h-36 w-36 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out -translate-x-24 rotate-[-4deg]'">
        <img [ngSrc]="group.tlSrc" [alt]="group.tlSrc" fill class="h-full w-full object-cover">
      </div>

      <div [class]="activeGroupIndex() === index
              ? 'absolute bottom-0 right-20 h-48 w-44 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-0 rotate-[-10deg]'
              : 'absolute bottom-0 right-20 h-48 w-44 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-24 rotate-[4deg]'">
        <img [ngSrc]="group.trSrc" [alt]="group.trSrc" fill class="h-full w-full object-cover">
      </div>
    </div>
    }
  </div>
  <div class="pointer-events-none absolute inset-x-0 bottom-10 hidden lg:block">
    @for (group of carouselGroups; track $index; let index = $index) {
    <div class="absolute inset-x-0 bottom-0 transition-all duration-700 ease-out" [class.opacity-100]="activeGroupIndex() === index" [class.opacity-0]="activeGroupIndex() !== index">
      <div [class]="activeGroupIndex() === index
            ? 'absolute bottom-0 left-32 h-48 w-44 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-0 rotate-[5deg]'
            : 'absolute bottom-0 left-32 h-48 w-44 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out -translate-x-24 rotate-[-4deg]'">
        <img [ngSrc]="group.blSrc" [alt]="group.blSrc" fill class="h-full w-full object-cover">
      </div>

      <div [class]="activeGroupIndex() === index
            ? 'absolute bottom-0 right-20 h-36 w-36 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-0 rotate-[-10deg]'
            : 'absolute bottom-0 right-20 h-36 w-36 overflow-hidden rounded-3xl backdrop-blur-md transition-all duration-700 ease-out translate-x-24 rotate-[4deg]'">
        <img [ngSrc]="group.brSrc" [alt]="group.brSrc" fill class="h-full w-full object-cover">
      </div>
    </div>
    }
  </div>

  <div class="z-10 text-center max-w-4xl px-4">
    <h1 class="text-3xl md:text-5xl font-extrabold text-[#36394A] leading-tight mb-8">
      Find men's wear <ng-icon name="faSolidClock" /> on Duduzili
    </h1>

    <div class="relative max-w-2xl mx-auto group">
      <input type="text" placeholder="What are you looking for?" class="w-full h-20 pl-8 pr-16 bg-white rounded-full text-lg shadow-2xl outline-none focus:ring-4 focus:ring-blue-100 transition-all border-none">
      <button class="absolute right-3 top-3 h-14 w-14 bg-indigo-600 rounded-full flex items-center justify-center hover:bg-indigo-700 transition-all text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </div>

  <!-- Pagination markers -->
  <div class="absolute bottom-12 flex gap-2">
    @for (group of carouselGroups; track $index; let index = $index) {
    <span class="rounded-full transition-all duration-500" [class.w-8]="activeGroupIndex() === index" [class.bg-indigo-600]="activeGroupIndex() === index" [class.h-2]="activeGroupIndex() === index" [class.w-2]="activeGroupIndex() !== index" [class.h-2]="activeGroupIndex() !== index" [class.bg-gray-300]="activeGroupIndex() !== index"></span>
    }
  </div>
</section>
